:root {
  --mainRed: #f65261;
  --mainDark: #232323;
  --mainGrey: #424242;
  --secondaryGrey: #555555;
  --mainWhite: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
  font-size: 18px;
}
